/* 標語エリアのフォント調整 */
#slogan-sync-text { 
  font-size: 14px; 
  margin:6px 0 0; 
  font-weight:600; 
  line-height:1.3; 
}

.hyogoaria p.text-center { 
  font-size: 14px; 
  margin:4px 0; 
}

.hyogoaria { 
  font-size: 14px !important; 
}
